# Application
NODE_ENVIRONMENT=local # local | production
APP_PORT=5001
APP_KEY=dummy-app-key
ENABLE_RATE_LIMITING=false
DONT_SEND_EMAIL=true # set to false in production
FRONTEND_LOCAL_URL=http://localhost:5173
FRONTEND_PRODUCTION_URL=http://localhost:8010

# Email
EMAIL_SENDER_NAME=Futureself
BREVO_API_ENDPOINT='https://api.brevo.com/v3/smtp/email'
EMAIL_SENDER_EMAIL=
BREVO_API_KEY=

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=

# Database
POSTGRES_USER=example
POSTGRES_PASSWORD=password
POSTGRES_DB=future_self
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
ENABLE_DATABASE_SSL=false # Change to false if running postgres from Docker